## Build
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

## Maven
.mvn/wrapper/maven-wrapper.jar

## Spring Boot
src/main/resources/application.properties

## Segredos e configuração local
.env
docker-compose.override.yml

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## VS Code
.vscode/

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

## Logs
*.log
logs/
nohup.out
